/* перемінні кольорів = всі кольори на сторінці, :root означає застосування для всього документу */
:root {
  --blue-text: rgba(33, 150, 243, 1);

  --black: rgba(0, 0, 0, 1);
  --black-text: rgba(33, 33, 33, 1);

  --gray-text: rgba(117, 117, 117, 1);
  --gray-light: rgba(255, 255, 255, 0.6);

  --white-text: rgba(255, 255, 255, 1);

  --grphite-backraund: rgba(47, 48, 58, 1);
}

/* зробити невидимим заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* щоб прибрати крапки із списка */
ul {
  list-style: none;
}

img {
  display: block;
  width: 100px;
  height: 100px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: o auto;
  border: 1px solid red;
}

.menu-nav,
.nav-list,
.contacts-header {
  display: flex;
}

.nav-list {
}

/* дизайн логотипу */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--black);
  font-weight: 700;
  font-size: 26px;
}

.logo > .web {
  color: var(--blue-text);
}

.logo > .studio {
  color: var(--white-text);
}

/* колір силок навігації */
.nav {
  color: var(--black-text);
}

/* всі посилання при ховері */
.link:hover,
.link:focus,
.link:active {
  color: var(--blue-text);
}

/* зняти підкресдення посилань */

.link {
  text-decoration: none;
  font-style: normal;
}

/* контакти у хедері */

.cont {
  color: var(--gray-text);
}

/* навігпція у хедері */

.menu-nav {
}

.contacts-header {
}

.contacts-header-items {
  font-weight: 500;
  font-size: 14px;
}

footer {
  background-color: var(--grphite-backraund);
}

.adress {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
}

.adress-text {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.contfooter {
  color: var(--gray-light);
}

.contacts-items {
  color: var(--gray-light);
  font-weight: normal;
  font-size: 14px;
}
