/* перемінні кольорів = всі кольори на сторінці, :root означає застосування для всього документу */
:root {
  --blue-text: rgba(33, 150, 243, 1);

  --black: rgba(0, 0, 0, 1);
  --black-text: rgba(33, 33, 33, 1);

  --gray-text: rgba(117, 117, 117, 1);
  --gray-light: rgba(255, 255, 255, 0.6);

  --white-text: rgba(255, 255, 255, 1);

  --grphite-backraund: rgba(47, 48, 58, 1);
}

/* зробити невидимим заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* щоб прибрати крапки із списка */
ul {
  list-style: none;
  padding-inline-start: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* дизайн логотипу */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--black);
  font-weight: 700;
  font-size: 26px;

  padding-top: 24px;
  padding-bottom: 25px;
}

.logo > .web {
  color: var(--blue-text);
}

.logo > .studio {
  color: var(--white-text);
}

/*силки навігації в хедері */
.nav {
  color: var(--black-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

/* всі посилання при ховері */
.link:hover,
.link:focus,
.link:active {
  color: var(--blue-text);
}

.link {
  text-decoration: none;
}

.header,
.manu-nav,
.nav-list,
.contacts-header {
  display: flex;
}

.manu-nav {
  margin-left: 93px;
}

/* центрувати по вертикалі */

.nav-list,
.contacts-header {
  align-items: center;
}

.nav-list li {
  margin-right: 50px;
}

.nav-list li:last-child {
  margin-right: 331px;
}

.nav-list {
}

.contacts-header li:not(:last-child) {
  margin-right: 36px;
}

.contacts-header {
  color: var(--gray-text);
  font-weight: 500;
  font-size: 14px;
}

.container {
  border: 1px solid red;

  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.footer {
  background-color: var(--grphite-backraund);
}

.adress {
}

.adress-text {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.contacts-footer {
  color: var(--gray-light);
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
}
